@floatr-blue:rgb(0,187,253);
@floatr-blue-nav:rgba(0,187,253,0.7);
@floatr-green: rgb(0,253,167);
@floatr-turq: rgb(0,253,218);
@margin: 30px;
@header-color: #FFFFFF;

.shadow() {
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}