/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.seperator {
  height: 70px;
  width: 100%;
}
.navbar {
  z-index: 100000;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: rgba(0, 187, 253, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-weight: Bold;
  font-size: 24px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
.navbar h1 {
  margin-left: 30px;
}
.navbar nav {
  padding-right: 30px;
}
.navbar .hidden {
  display: none;
}
.menu-open ul {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-open ul li {
  animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.4s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.4s;
  /* Internet Explorer */
  -o-animation: fadein 0.4s;
  /* Opera < 12.1 */
  margin: 20px;
  font-size: 20px;
  padding: 10px 10px;
}
.menu-open ul li:hover {
  background-color: #00bbfd;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
  transition: 0.4s;
}
.menu-open ul img {
  width: 30px;
  height: 50%;
}
.shadow-light {
  -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
}
.button-shadow {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 186, 253, 0.52);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 186, 253, 0.52);
  box-shadow: 0px 0px 12px 0px rgba(0, 186, 253, 0.52);
}
.services-banner {
  height: 300px;
  width: 100%;
  background-image: url('../img/home/products.png');
  background-position: calc(50% - 50px) 50%;
  background-repeat: no-repeat;
}
.services-banner h1 {
  font-weight: bold;
  font-size: 70px;
  color: #FFFFFF;
  padding-top: 200px;
  padding-left: 50px;
}
.services-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-content .services-paragraph {
  width: 80%;
  margin: 40px 0;
}
.services-content img {
  width: 50%;
}
.services-content .tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-content .tabs .tabs-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 900px;
}
.services-content .tabs .tabs-links .tabs-link {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 186, 253, 0.52);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 186, 253, 0.52);
  box-shadow: 0px 0px 12px 0px rgba(0, 186, 253, 0.52);
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-content .tabs .tabs-links .tabs-link:hover {
  background-color: rgba(0, 187, 253, 0.7);
  color: #FFFFFF;
  transition: 0.25s;
}
.services-content .tabs .tabs-links .tabs-link-selected {
  background-color: #00bbfd;
  color: #FFFFFF;
}
.services-content .tabs .tabs-items {
  width: 80%;
}
.services-content .tabs .tabs-item {
  display: none;
}
.services-content .tabs .tabs-item .tabs-item-title {
  font-weight: bold;
  font-size: 20px;
}
.services-content .tabs .tabs-item .tabs-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-content .tabs .tabs-item .tabs-item-content .tabs-item-text,
.services-content .tabs .tabs-item .tabs-item-content img {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.services-content .tabs .selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
  min-width: 900px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: 'Roboto';
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
p {
  line-height: 24px;
}
.top-content {
  height: 100vh;
  background-image: url('/Users/tomerdusautoy/Documents/LambdaNotes/floatr/Floatr/img/home/jumbotron.jpg');
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Firefox < 16 */
  /* Safari, Chrome and Opera > 12.1 */
  /* Internet Explorer */
  /* Opera < 12.1 */
}
.top-content .title {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-content .title .break {
  display: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.top-content h1 {
  font-weight: bold;
  font-size: 150px;
  color: #FFFFFF;
  margin-bottom: 70px;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}
.top-content h2 {
  font-weight: bold;
  font-size: 72px;
  color: #FFFFFF;
  opacity: 0;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
  -webkit-animation-delay: 2s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 600px) {
  .top-content h2 {
    font-size: 50px;
  }
}
.middle-content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.middle-content .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 80%;
  margin-bottom: 40px;
}
.middle-content .info img {
  height: auto;
  min-width: 200px;
  width: 48%;
  -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.49);
  border-radius: 8px;
}
.middle-content .info .content {
  width: 48%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle-content .info h3 {
  font-weight: bold;
  font-size: 30px;
}
.middle-content .plastic {
  flex-direction: row-reverse;
}
.bottom-content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.bottom-content h3 {
  font-size: 30px;
}
.bottom-content .bottom-content-box {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-content .bottom-content-box .info-bottom {
  display: flex;
  width: 65%;
  min-width: 400px;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin-bottom: 30px;
}
.bottom-content .bottom-content-box img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}
.bottom-content .bottom-content-box .tag-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
footer {
  background-image: linear-gradient(rgba(255, 0, 0, 0), #d0fff9);
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
footer .form {
  margin-top: 50px;
}
footer form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  min-width: 400px;
  width: 50%;
}
footer form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer form .form-group .form-text {
  font-size: 10px;
  margin-top: 5px;
}
.divider {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 10px;
  border-bottom: solid grey 0.5px;
}
@media only screen and (max-width: 600px) {
  .middle-content {
    width: 100%;
  }
  .middle-content .floatr,
  .middle-content .plastic {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .middle-content .floatr .content,
  .middle-content .plastic .content {
    width: 90%;
    margin-top: 20px;
  }
  .middle-content .floatr .img,
  .middle-content .plastic .img {
    width: 90%;
  }
  .bottom-content {
    width: 100%;
  }
  .bottom-content .bottom-content-box {
    width: 100%;
  }
  .bottom-content .bottom-content-box .tag-title {
    margin-bottom: 40px;
  }
  .bottom-content img {
    width: 100%;
  }
}
